#inputContainer {
    self-align: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
    width: 40%;
}

div {
    display: flex;
    justify-content: space-between;
}

#outer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
   
}